@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-Bold.otf')  format('opentype'),
	     url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Bold.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-Bold.svg#../fonts/HarmoniaSansProCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-SemiBd.otf')  format('opentype'),
	     url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-SemiBd.svg#../fonts/HarmoniaSansProCyr-SemiBd') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-Regular.otf')  format('opentype'),
	     url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Regular.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-Regular.svg#../fonts/HarmoniaSansProCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamPro-Bold.otf')  format('opentype'),
	     url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf')  format('truetype'), url('../fonts/GothamPro-Bold.svg#../fonts/GothamPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


